#navsidebar {
    display: flex;
    flex-direction: column;
}

#main-navbar {
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 3;
}

#main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

#main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 10px;
    width: 20rem;
    height: 100%;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.053);
    z-index: 2;
}

#open-sidebar {
    width: 100%;
}

.sidebar-linha {
    padding: .875rem 1.125rem;
    margin-bottom: 10px;
}

.sidebar-linha:hover {
    background-color: #84E3DD;
    cursor: pointer;
    color: white;
}

.sidebar-linha.active {
    background-color: #25C8BC;
    cursor: pointer;
    color: white;
}


.sidebar-linha>* {
    width: min-content !important;
    max-width: min-content !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #main-sidebar {
        width: 5rem;
    }

    .sidebar-linha {
        justify-content: center;
    }

    .sidebar-linha>h5 {
        display: none;
        visibility: hidden;
    }
}

#app-container {
    background-color: #fafafa;
    padding: 20px;
    width: 100%;
}